@media (min-width: 768px) {

    .fffx {
        display: flex;
        flex-direction: column;
    }

    .menuHD {
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .listaH{
        list-style-type: none;
    }
    
    .sli {
        float: left;
        margin-right: 3px;
        padding: 0 2px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: rgb(70, 70, 70);
    
    }
    
    .sli4 {
        float: left;
        margin-right: 3px;
        padding: 0 2px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: rgb(70, 70, 70);
        margin-top: 4px;
    }
    
    
.containerFAQ {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}

.faq-section {
    display: flex;
    flex-direction: column;
    width: 1200px;
}


.div-faq, .div-faq2 {
    text-align: center;
}

.dropdown-trigger {
    position: relative;
    overflow: hidden;
    transition: height 0.5s ease;
    cursor: pointer;
    margin-top: 20px;
    border: #1e336c 1px solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.qtrigger {
    /* margin-left: 450px; */
    margin-left: 20px;
    color: #1e336c;
    font-weight: 600;
    text-transform: uppercase;
}

.btntrigger {
    background-color: #1e336c;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0 8px 0 8px;
    margin-right: 20px;

}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 1000px;
    /* margin-top: 120px; */
    margin-left: 80px;
    border: #1e336c 1px solid;
    border-radius: 15px;
    color: #464646;
    
}

.dropdown-content.show {
    visibility: visible;
    opacity: 1;
    /* position: fixed; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.faqtitle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e336c;
    margin-left: 48%;
    margin-top: 20px;
}
    
    
}

/* Estilos para movil - tablet  */
@media (max-width: 900px) {

    .McontainerFAQ {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 90%;
        margin: 0 auto;

    }

    .Mfaq-section {
        display: flex;
        flex-direction: column;

    }

    .Mfaqtitle {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1e336c;
        margin-left: 200px;
        margin-top: 15px;

    }

    .Mdiv-faq, .Mdiv-faq2 {
        text-align: center;

    }

    .Mdropdown-trigger {
        border: #1e336c 1px solid;
        cursor: pointer;
        border-radius: 8px;
        margin-bottom: 10px;
        margin-top: 10px;

    }

    .Mqtrigger {
        color: #1e336c;
        font-weight: 500;
        font-size: 17px;
    }

    .Mbtntrigger {
        background-color: #1e336c;
        color: white;
        border: none;
        border-radius: 15px;
        padding: 0 8px 0 8px;
        margin-bottom: 5px;

    }

    .Mdropdown-content {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        max-width: 80%;
        margin-left: 25px; 
        margin-bottom: 8px;
        background-color: #1e336c;
        color: #ffffff;

    }

}