@media (min-width: 768px) {

.containerCU {
    display: flex;
    flex-direction: column;
}

.sectionCU {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tituloCN {
    font-size: 40px;
    margin-bottom: 50px;
    color: #ffffff;
    margin-left: 80px;
    margin-top: 20px

}

.labelCN {
    font-size: 22px;
    margin-bottom: 10px;
    color: #1e336c;
}

.formClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 100px;
    width: 50%;
}

.rowsCN {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.textACN {
    width: 500px;
    height: 300px;
}

.inputCN {
    width: 500px;
    height: 50px;

} 

.buttonCN {
    background-color: #1e336c;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    align-self: center;
}

.selectCN {
    width: 500px;
    height: 50px;
    background-color: white;
}

.optionCN {
    background-color: white;
    color: #464646;
    padding: 10px;
    margin-left: 10px;
    width: 100px;
    align-self: center;
}
.s2CU {
    display: flex;
    flex-direction: column;
    /* margin-left: 150px; */
    background-color: #1e336c;
    width: 50%;
    height: 800px;
}

.s1 {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-bottom: 20px;

}

.h2CN {
    font-size: 22px;
    margin-bottom: 20px;
    color: #ffffff;

}

.pCN {
    font-size: 19px;
    margin-bottom: 20px;
    color: #ffffff;

}

}