@media (min-width: 768px) {

.faq-section {
    display: flex;
    flex-direction: column;
}

.containerFAQ {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.div-faq, .div-faq2 {
    text-align: center;
}

.dropdown-trigger {
    cursor: pointer;
    margin-top: 20px;
    border: #1e336c 1px solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.qtrigger {
    margin-left: 450px;
    color: #1e336c;
    font-weight: 600;
}

.btntrigger {
    background-color: #1e336c;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0 8px 0 8px;
    margin-right: 20px;

}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 1000px;
}

.dropdown-content.show {
    visibility: visible;
    opacity: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.faqtitle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e336c;
    margin-left: 48%;
    margin-top: 20px;
}
    
    
}