@media (min-width: 768px)  {
    .listaH{
        list-style-type: none;
    }

    .sli {
        float: left;
        margin-right: 3px;
        padding: 0 2px;
    }

    .section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        margin-left: 70px;
    }

    .divSection2 {
        display: flex;
        flex-direction: row;
        gap: 15px;

    }

    .card1S2 {
        display: flex;
        flex-direction: column;
        background-color: #46799d;
        color: white;
        width: 300px;
        height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
    }

    .card1S2:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    .card2S2 {
        display: flex;
        flex-direction: column;
        background-color: #0b2b59;
        color: white;
        width: 300px;
        height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;

    }

    .card2S2:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    .card3S2 {
        display: flex;
        flex-direction: column;
        background-color: #81adc6;
        color: white;
        width: 300px;
        height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;

    }

    .card3S2:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    .h2S2 {
        margin-bottom: 10px;
        font-weight: 600;
    }

    .div1Section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

    }

    .btnBN {
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 10px;
        color: #0e3874;
        margin-top: 20px;
    }

    .btnBN:hover {
        background-color: #0e3874;
        color: rgb(255, 255, 255);
        font-weight: 600;
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    .btnBN2 {
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 10px;
        color: #81adc6;
        margin-top: 20px;
    }

    .btnBN2:hover {
        background-color: #81adc6;
        color: rgb(255, 255, 255);
        font-weight: 600;
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    .btn4S2 {
        background-color: #324059;
        color: white;
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
        font-weight: 700;

    }

    .btn4S2:hover {
        background-color: #ffffff;
        color: #324059;
        transform: scale(1.1);
        transition: transform 0.3s ease;
        border-color: #324059;
        border-width: 1px;
    }
}